
.parent{
    -fx-background-color:transparent ;
}
.pane
{
    -fx-background-color:cadetblue;
}
.trans-btn-white-border{
    -fx-background-color:transparent;
    -fx-background-radius:5px;
    -fx-border-color: #cccccc;
    -fx-border-whidth :1px;
    -fx-text-fill: whitesmoke;

}
.white-pane
{
    -fx-background-color:#ffffff;

}
.blue-panel{
    -fx-background-color: #151928;
}
.tf_box{
    -fx-background-color: transparent;
    -fx-border-color: #DEDEE4;
    -fx-border-width: 0px 0px 1px 0px;
}
.tf{
    -fx-background-color: transparent;
}

.blue-btn{
    -fx-background-color: #2196f3;
    -fx-background-radius: 5px;
    -fx-text-fill: white;
}
.Login-out {
    -fx-background-color: #2196f3;
    -fx-background-radius: 22;
    -fx-text-fill: white;
    -fx-font-size: 18;
}

.Login-out:hover{
    -fx-font-weight: bold;
    -fx-background-color: #2196f3;
    -fx-font-size: 17;
    -fx-text-fill: white;

}



.Login-out:pressed{

    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-border-color: white;



}



  .close_tab {
      -fx-background-color: #2196f3;
      -fx-background-radius: 25;
      -fx-text-fill: white;
      -fx-font-size: 18;
  }

  .close_tab:hover{
      -fx-font-weight: bold;
      -fx-background-color: #2196f3;
      -fx-font-size: 17;
      -fx-text-fill: white;

  }

  .close_tab:pressed{

      -fx-background-color: #2196f3;
      -fx-text-fill: white;
      -fx-border-color: white;



  }

  .FontAwesomeIcon:hover{
      -fx-cursor: hand;
       }

